__pycache__/
.vagrant/
.idea/
id_rsa.pub
artifacts/
*.log
*.jar

## Exclude apps directory, but including some specific subdirectories
ansible/provisioning/apps/*
!ansible/provisioning/apps/sample_app/
!ansible/provisioning/apps/hadoop_app/
!ansible/provisioning/apps/spark_app/