__pycache__/
.vagrant/
.idea/
id_rsa.pub
artifacts/
*.log
*.jar

## Exclude apps directory, but including some specific subdirectories and files
ansible/provisioning/apps/*
!ansible/provisioning/apps/README.md
!ansible/provisioning/apps/sample_app/
!ansible/provisioning/apps/hadoop_app/
!ansible/provisioning/apps/hadoop_sample/
!ansible/provisioning/apps/spark_sample/
!ansible/provisioning/apps/npb_app/
!ansible/provisioning/apps/smusket_app/
!ansible/provisioning/apps/hdfs_sample/
