# Standard files and directories to exclude
__pycache__/
.vagrant/
.idea/
id_rsa.pub
artifacts/
*.log
*.jar

# Dynamic configuration files
ansible/ansible.inventory
ansible/provisioning/config/config.yml
ansible/provisioning/config/modules/*.yml
!ansible/provisioning/config/modules/template.*.yml

# Apps
## Exclude apps directory, but including some specific subdirectories and files
ansible/provisioning/apps/*
!ansible/provisioning/apps/README.md
!ansible/provisioning/apps/base/
!ansible/provisioning/apps/samples/

## Exclude user apps, but include specific ones
!ansible/provisioning/apps/user/
ansible/provisioning/apps/user/*
!ansible/provisioning/apps/user/npb_app/
!ansible/provisioning/apps/user/smusket_app/
!ansible/provisioning/apps/user/xairugo/

## Override .jar files exclude for some apps
!ansible/provisioning/apps/samples/**/*.jar
!ansible/provisioning/apps/user/**/*.jar