[submodule "ansible/provisioning/external/ServerlessContainers"]
	path = ansible/provisioning/external/ServerlessContainers
	url = https://github.com/UDC-GAC/ServerlessContainers.git
[submodule "ansible/provisioning/external/BDWatchdog"]
	path = ansible/provisioning/external/BDWatchdog
	url = https://github.com/UDC-GAC/BDWatchdog.git
