{% extends "base.html" %}

{% block page_content %}

<!-- Menu -->
{% include 'functions/menu.html' with config=config active="apps" %}

<div class="content">

    <H4>Apps</H4>

    <!-- Requests -->
    {% include 'functions/alerts.html' with requests=requests %}

    {% if opentsdb %}
        <p><a href="{{ opentsdb }}">OpenTSDB</a></p>
    {% endif %}

    {% if config.manage_cache_hosts %}
        {% include 'functions/switch.html' with switch_url="drop_caches" switch_name="drop_caches" switch_prefix="drop" state=True on_state_label="Drop caches" %}
        <p></p>
    {% endif %}

    {% if config.hdfs_replication_mode == 'monitor' %}
        {% include 'functions/switch.html' with switch_url="enable_monitor" switch_name="enable_monitor" switch_prefix="enable" state=False off_state_label="Enable monitor" %}
        <p></p>
    {% endif %}

    <!-- Apps -->
    <ul id="tabs">
        {% for item in data %}
        {% if item.name != "global_hdfs" %}
            <li>
                <!-- App data -->
                {% include 'functions/app_data_full.html' with app=item %}

                <!-- Forms -->
                {% if item.started_app %}
                    <p></p>
                    {% include 'functions/switch.html' with switch_url="apps_stop_switch" item_name=item.name switch_name="stop_switch" switch_prefix="app" state=item.started_app on_state_label="Stop app" %}
                {% endif %}

                {% if item.start_app_form %}
                    <p></p>
                    {% if item.started_app %}
                        {% include 'functions/form.html' with form_id="start-app-"|add:item.name button_name="Add new containers to app" form_title="Add new containers to app "|add:item.name form=item.start_app_form %}
                    {% else %}
                        {% include 'functions/form.html' with form_id="start-app-"|add:item.name button_name="Start app"                 form_title="Start app "|add:item.name                 form=item.start_app_form %}
                    {% endif %}
                {% endif %}

                {% if item.remove_containers_from_app_editable_data > 0 %}
                    <p></p>
                    {% include 'functions/form.html' with form_id="remove-containers-from-app-"|add:item.name button_name="Remove Containers from app" form_title="Remove Containers from app "|add:item.name form=item.remove_containers_from_app_form %}
                {% endif %}

            </li>
        {% endif %}
        {% endfor %}
    </ul>

    {% include 'functions/form.html' with form_id="add-app"        button_name="Add App"        form_title="Add App"         form=addStructureForm.app %}
    {% include 'functions/form.html' with form_id="add-hadoop-app" button_name="Add Hadoop App" form_title="Add Hadoop Apps" form=addStructureForm.hadoop_app %}
    {% include 'functions/form.html' with form_id="remove-apps"    button_name="Remove Apps"    form_title="Remove Apps"     form=removeStructuresForm %}

</div>
<HR>

{% endblock %}
