{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'containers' %}">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}" class="active">Apps</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'rules' %}">Rules</a>
</div> 

<div class="content">
    
<H4>Apps</H4>

  <!-- Requests status -->
  {% if requests_errors %}
    {% for error in requests_errors %}
      <div class="alert">
          <span class="closebtn">&times;</span>
          <strong>Error!</strong> {{ error }}
      </div> 
    {% endfor %}
  {% endif %}

  {% if requests_successes %}
  	{% for success in requests_successes %}
	  <div class="alert success">
		  <span class="closebtn">&times;</span>
		  <strong>Success!</strong> {{ success }}
	  </div>
	{% endfor %}
  {% endif %}

  {% if requests_info %}
  	{% for info in requests_info %}
	  <div class="alert info">
		  <span class="closebtn">&times;</span>
		  <strong>Info!</strong> {{ info }}
	  </div>
	{% endfor %}
  {% endif %}

  <ul id="tabs">
    {% for item in data %}
    <li>
    <button class="accordion">{{ item.name }}</button>
	<div class="panel">
		<p></p>
		<table class="data_table">
			<tr>
				<form action="{% url 'apps_guard_switch' item.name %}" method="POST"> 
					{% csrf_token %}
					<td>Guard</td> <td>{{ item.guard }}</td>
	
					{% if item.guard == True %} <td><button class="deactivate-btn" type="submit" name="guard_switch" value="guard_off">Unguard</button></td>
					{% else %}                  <td><button class="activate-btn" type="submit" name="guard_switch" value="guard_on">Guard</button></td>
					{% endif %}
				</form>
			</tr>
		
			<tr><td>Guard Policy</td> <td>{{ item.guard_policy }}</td></tr>
			{% if item.files_dir %} <tr><td>Files directory</td> <td>{{ item.files_dir }}</td></tr> {% endif %}
			{% if item.install_script %} <tr><td>Install script</td> <td>{{ item.install_script }}</td></tr> {% endif %}
			{% if item.start_script %} <tr><td>Start script</td> <td>{{ item.start_script }}</td></tr> {% endif %}
			{% if item.stop_script %} <tr><td>Stop script</td> <td>{{ item.stop_script }}</td></tr> {% endif %}
			{% if item.app_jar %} <tr><td>App JAR</td> <td>{{ item.app_jar }}</td></tr> {% endif %}

		</table>
		<p></p>
		
    	<button class="accordion">Resources</button>
  		<div class="panel">

			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in item.resources_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in item.resources.items %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<p></p>

			<!-- APP RESOURCES EDIT MODAL -->	
			{% if item.resources_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-resources" title="Edit" class="caja" onclick="hide_resources_submit_buttons('{{ item.name }}');">Edit resources</a>
				<br><br>
				<div align="left" id="openModal-{{ item.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.resources_form item.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">

			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in item.limits_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in item.limits.items %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<p></p>

			<!-- APP LIMIT EDIT MODAL	-->
			{% if item.limits_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-limits" title="Edit" class="caja">Edit boundaries</a>
				<br><br>
				<div align="left" id="openModal-{{ item.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit boundaries of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.limits_form %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<a class="button" href="{% url 'structure_detail' item.name %}">Full details</a>
	</div>    	
    <HR>
    <HR>
    Containers:
    {% for cont in item.containers_full %}
    <button class="accordion">{{ cont.name }}</button>
	<div class="panel">
		<p></p>
		<table class="data_table">	
			<tr>
				<form action="{% url 'apps_guard_switch' cont.name %}" method="POST"> 
					{% csrf_token %}
					<td>Guard</td> <td>{{ cont.guard }}</td>

					{% if cont.guard == True %} <td><button class="deactivate-btn" type="submit" name="guard_switch" value="guard_off">Unguard</button></td>
					{% else %}                  <td><button class="activate-btn" type="submit" name="guard_switch" value="guard_on">Guard</button></td>
					{% endif %}
				</form>
			</tr>
			<tr><td>Guard Policy</td> <td>{{ cont.guard_policy }}</td></tr>
		</table>
		<p></p>

   		<button class="accordion">Resources</button>
  		<div class="panel">

			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in cont.resources_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in cont.resources.items %}
				{% if resource != "disk" %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				{% endif %}
				{% endfor %}
			</table>
			<p></p>

			<!-- Another table for disks -->
			{% for resource,disk in cont.resources.items %}
			{% if resource == "disk" %}
			  <p>Disk</p>
			  <p></p>
			  <table class="data_table">
				  <!-- rows -->
				  <tr>
					<th>Name</th>
					<td>{{ disk.name }}</td>
				  </tr>
				  <tr>
					<th>Path</th>
					<td>{{ disk.path }}</td>
				  </tr>
				  <tr>
					<th>Current bandwidth</th>
					<td>{{ disk.current }}</td>
				  </tr>
				  <tr>
					<th>Guard</th>
					<td>{{ disk.guard }}</td>
				  </tr>
				  <tr>
					<th>Max bandwidth</th>
					<td>{{ disk.max }}</td>
				  </tr>
				  <tr>
					<th>Min bandwidth</th>
					<td>{{ disk.min }}</td>
				  </tr>
			  </table>
			  <p></p>
				  <HR>
			{% endif %}
			{% endfor %}

			<!-- CONT RESOURCES EDIT MODAL -->	
			{% if cont.resources_editable_data > 0 %}
				<a href="#openModal-{{ cont.name }}-resources" title="Edit" class="caja" onclick="hide_resources_submit_buttons('{{ cont.name }}');">Edit resources</a>
				<br><br>
				<div align="left" id="openModal-{{ cont.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ cont.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy cont.resources_form cont.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">

			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in cont.limits_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in cont.limits.items %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
			<p></p>

			<!-- CONT LIMIT EDIT MODAL -->	
			{% if cont.limits_editable_data > 0 %}
				<a href="#openModal-{{ cont.name }}-limits" title="Edit" class="caja">Edit boundaries</a>
				<br><br>
				<div align="left" id="openModal-{{ cont.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit boundaries of {{ cont.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy cont.limits_form %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
		<a class="button" href="{% url 'structure_detail' cont.name %}">Full details</a>
        <p></p>
	</div>
    {% endfor %}

	{% if item.started_app %}
		<p></p>
		<form action="{% url 'apps_stop_switch' item.name %}" method="POST">
			{% csrf_token %}
			<td><button class="deactivate-btn" type="submit" name="stop_switch">Stop app</button></td>
		</form>
	{% endif %}

	{% if item.start_app_form %}
		<p></p>
		<a href="#openModal-start-app-{{ item.name }}" title="Edit" class="caja">{% if item.started_app %} Add new containers to app {% else %} Start app {% endif %}</a>
		<br><br>
		<div align="left" id="openModal-start-app-{{ item.name }}" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<h2>{% if item.started_app %} Add new containers to app {% else %} Start app {% endif %} {{ item.name }}</h2>
				<p>
					{% load crispy_forms_tags %} {% crispy item.start_app_form %}
				</p>
			</div>
		</div>
	{% endif %}

	{% if item.remove_containers_from_app_editable_data > 0 %}
		<p></p>
		<a href="#openModal-remove-containers-from-app-{{ item.name }}" title="Edit" class="caja">Remove Containers from App</a>
		<br><br>
		<div align="left" id="openModal-remove-containers-from-app-{{ item.name }}" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close">X</a>
				<h2>Remove Containers from App {{ item.name }}</h2>
				<p>
					{% load crispy_forms_tags %} {% crispy item.remove_containers_from_app_form %}
				</p>
			</div>
		</div>
	{% endif %}

    </li>    
    {% endfor %}
  </ul>

  <a href="#openModal-add-app" title="Edit" class="caja">Add App</a>
  <br><br>
  <div align="left" id="openModal-add-app" class="modalDialog">
	  <div>
		  <a href="#close" title="Close" class="close">X</a>
		  <h2>Add App</h2>
		  <p>
			  {% load crispy_forms_tags %} {% crispy addStructureForm.app %}
		  </p>
	  </div>
  </div>

  <a href="#openModal-add-hadoop-app" title="Edit" class="caja">Add Hadoop App</a>
  <br><br>
  <div align="left" id="openModal-add-hadoop-app" class="modalDialog">
	  <div>
		  <a href="#close" title="Close" class="close">X</a>
		  <h2>Add Hadoop App</h2>
		  <p>
			  {% load crispy_forms_tags %} {% crispy addStructureForm.hadoop_app %}
		  </p>
	  </div>
  </div>

  <a href="#openModal-remove-apps" title="Edit" class="caja">Remove Apps</a>
  <br><br>
  <div align="left" id="openModal-remove-apps" class="modalDialog">
	  <div>
		  <a href="#close" title="Close" class="close">X</a>
		  <h2>Remove Apps</h2>
		  <p>
			  {% load crispy_forms_tags %} {% crispy removeStructuresForm %}
		  </p>
	  </div>
  </div>

</div>
<HR> 

{% endblock %}
