{% extends "base.html" %}

{% block page_content %}

<!-- Menu -->
{% include 'functions/menu.html' with config=config active="containers" %}

<div class="content">
    
    <H4>Containers</H4>

	<!-- Requests -->
	{% include 'functions/alerts.html' with requests=requests %}

	<!-- Containers -->
    <ul id="tabs">
        {% for item in data %}
            <li>
                {% include 'functions/container_data.html' with guard_switch="containers" cont=item %}
            </li>
        {% endfor %}
    </ul>

    <!-- Forms -->
    {% include 'functions/form.html' with form_id="add-containers"    button_name="Add Containers"    form_title="Add Containers"    form=addStructureForm.add_containers %}
    {% include 'functions/form.html' with form_id="remove-containers" button_name="Remove Containers" form_title="Remove Containers" form=removeStructuresForm %}

</div>
<HR>

{% endblock %}
