{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'containers' %}" class="active">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}">Apps</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'rules' %}">Rules</a>
</div> 

<div class="content">
    
<H4>Containers</H4>

  <!-- Requests status -->
  {% if requests_errors %}
    {% for error in requests_errors %}
      <div class="alert">
          <span class="closebtn">&times;</span>
          <strong>Error!</strong> {{ error }}
      </div> 
    {% endfor %}
  {% endif %}

  {% if requests_successes %}
  	{% for success in requests_successes %}
	  <div class="alert success">
		  <span class="closebtn">&times;</span>
		  <strong>Success!</strong> {{ success }}
	  </div>
	{% endfor %}
  {% endif %}

  {% if requests_info %}
  	{% for info in requests_info %}
	  <div class="alert info">
		  <span class="closebtn">&times;</span>
		  <strong>Info!</strong> {{ info }}
	  </div>
	{% endfor %}
  {% endif %}

  <ul id="tabs">
    {% for item in data %}
    <li>
    <button class="accordion">{{ item.name }}</button>
	<div class="panel">
	<p></p>		
	<table class="data_table">	
		<tr>
			<form action="{% url 'containers_guard_switch' item.name %}" method="POST"> 
				{% csrf_token %}
				<td>Guard</td> <td>{{ item.guard }}</td>

				{% if item.guard == True %} <td><button class="deactivate-btn" type="submit" name="guard_switch" value="guard_off">Unguard</button></td>
				{% else %}                  <td><button class="activate-btn" type="submit" name="guard_switch" value="guard_on">Guard</button></td>
				{% endif %}
			</form>
		</tr>

		<tr><td>Policy</td> <td>{{ item.guard_policy }}</td></tr>
		<tr><td>Host</td> <td>{{ item.host }}</td></tr>
	</table>
	<p></p>

   		<button class="accordion">Resources</button>
  		<div class="panel">
			  
			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in item.resources_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in item.resources.items %}
				{% if resource != "disk" %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>
				{% endif %}
				{% endfor %}
			</table>
			<p></p>

			<!-- Another table for disks -->
			{% for resource,disk in item.resources.items %}
			{% if resource == "disk" %}
			  <p>Disk</p>
			  <p></p>
			  <table class="data_table">
				  <!-- rows -->
				  <tr>
					<th>Name</th>
					<td>{{ disk.name }}</td>
				  </tr>
				  <tr>
					<th>Path</th>
					<td>{{ disk.path }}</td>
				  </tr>
				  <tr>
					<th>Current bandwidth</th>
					<td>{{ disk.current }}</td>
				  </tr>
				  <tr>
					<th>Guard</th>
					<td>{{ disk.guard }}</td>
				  </tr>
				  <tr>
					<th>Max bandwidth</th>
					<td>{{ disk.max }}</td>
				  </tr>
				  <tr>
					<th>Min bandwidth</th>
					<td>{{ disk.min }}</td>
				  </tr>
			  </table>
			  <p></p>
				  <HR>
			{% endif %}
			{% endfor %}

			<!-- CONT RESOURCES EDIT MODAL -->	
			{% if item.resources_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-resources" title="Edit" class="caja" onclick="hide_resources_submit_buttons('{{ item.name }}');">Edit resources</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.resources_form item.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">

			<p></p>
			<table class="data_table">
				<!-- header -->
				<tr>
					<th class=empty_header></th>
					{% for value_label in item.limits_values_labels %}
						<th>{{ value_label }}</th>
					{% endfor %}
				</tr>
				<!-- rows -->
				{% for resource,values in item.limits.items %}
					<tr>
						<th>{{ resource }}</th>
						{% for key, value in values.items %}
							<td>{{ value }}</td>
						{% endfor %}
					</tr>		 
				{% endfor %}
			</table>
			<p></p>

			<!-- CONT LIMIT EDIT MODAL -->	
			{% if item.limits_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-limits" title="Edit" class="caja">Edit boundaries</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit boundaries of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.limits_form %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<a class="button" href="{% url 'structure_detail' item.name %}">Full details</a>
	</div>

    </li>    
    {% endfor %}
  </ul>
   
  <a href="#openModal-add-containers" title="Edit" class="caja">Add Containers</a>
  <br><br>  
  <div align="left" id="openModal-add-containers" class="modalDialog">
	  <div>
		  <a href="#close" title="Close" class="close">X</a>
		  <h2>Add Containers</h2>
		  <p>
			  {% load crispy_forms_tags %} {% crispy addStructureForm.add_containers %}
		  </p>
	  </div>
  </div>

  <a href="#openModal-remove-containers" title="Edit" class="caja">Remove Containers</a>
  <br><br>  
  <div align="left" id="openModal-remove-containers" class="modalDialog">
	  <div>
		  <a href="#close" title="Close" class="close">X</a>
		  <h2>Remove Containers</h2>
		  <p>
			  {% load crispy_forms_tags %} {% crispy removeStructuresForm %}
		  </p>
	  </div>
  </div>  

</div>
<HR> 

{% endblock %}
