{% extends "base.html" %}
{% load custom_tags %}

{% block page_content %}

<!-- Menu -->
{% include 'functions/menu.html' with config=config active="hdfs" %}

<div class="content">

    <H1>HDFS</H1>

    <!-- Requests -->
    {% include 'functions/alerts.html' with requests=requests %}

    <!-- Start/Stop global HDFS switch -->
    <div>
        {% include 'functions/switch.html' with switch_url="manage_global_hdfs" switch_name="manage_global_hdfs" switch_prefix="hdfs" state=global_hdfs_app|is_not_none on_state_label="Stop global HDFS" off_state_label="Start global HDFS" %}
    </div>
    <br>

    {% if global_hdfs_ready %}
        <p><a href="{{ namenode_url }}">Namenode</a></p>
    {% endif %}

    <!-- Global HDFS app -->
    {% if global_hdfs_ready %}
    <ul>
        <li>
            <button class="accordion">{{ global_hdfs_app.name }}</button>
            <div class="panel">
                <p></p>
                <table class="data_table">
                    <tr>
                        {% include 'functions/switch.html' with switch_url="apps_guard_switch" item_name=global_hdfs_app.name switch_name="guard_switch" switch_prefix="guard" cell_name="Guard" state=global_hdfs_app.guard on_state_label="Unguard" off_state_label="Guard" %}
                    </tr>

                    <tr><td>Guard Policy</td> <td>{{ global_hdfs_app.guard_policy }}</td></tr>
                    {% if global_hdfs_app.files_dir %} <tr><td>Files directory</td> <td>{{ global_hdfs_app.files_dir }}</td></tr> {% endif %}
                    {% if global_hdfs_app.install_script %} <tr><td>Install script</td> <td>{{ global_hdfs_app.install_script }}</td></tr> {% endif %}
                    {% if global_hdfs_app.start_script %} <tr><td>Start script</td> <td>{{ global_hdfs_app.start_script }}</td></tr> {% endif %}
                    {% if global_hdfs_app.stop_script %} <tr><td>Stop script</td> <td>{{ global_hdfs_app.stop_script }}</td></tr> {% endif %}
                    {% if global_hdfs_app.framework %} <tr><td>Framework</td> <td>{{ global_hdfs_app.framework }}</td></tr> {% endif %}
                    {% if global_hdfs_app.app_jar %} <tr><td>App JAR</td> <td>{{ global_hdfs_app.app_jar }}</td></tr> {% endif %}
        
                </table>
                <p></p>

                {% include 'functions/resources.html' with item=global_hdfs_app structure_type="app" %}
                {% include 'functions/limits.html' with item=global_hdfs_app %}

                <a class="button" href="{% url 'structure_detail' global_hdfs_app.name %}">Full details</a>
            </div>    	
            <HR>
            <HR>
            <!-- App containers -->
            Containers:
            {% for cont in global_hdfs_app.containers_full %}
                {% include 'functions/container_data.html' with guard_switch="apps" cont=cont %}
            {% endfor %}
        </li>
    </ul>
    {% endif %}

    <!-- Globa HDFS data -->
    {% if global_hdfs_ready %}
        <div>
            <table class="data_table">	
                <tr>
                    <th>Parent Directory</th>
                    <th>Permission</th>
                    <th>Owner</th>
                    <th>Group</th>
                    <th>Size</th>
                    <th>Last Modified</th>
                    <th>Replication</th>
                    <th>Block Size</th>
                    <th>Name</th>
                    <th class="hdfs_actions">
                        {% include 'functions/form.html' with form_id="add-hdfs-dir" button_name="Create Directory" form_title="Create HDFS Directory" form=addDirForm icon="fa fa-folder-open" %}
                    </th>
                    <th class="hdfs_actions">
                        {% include 'functions/form.html' with form_id="add-hdfs-file" button_name="Upload File or Directory" form_title="Add HDFS File or Directory" form=addFileForm icon="fa fa-cloud-upload" %}
                    </th>
                </tr>
                {% for item in data %}
                <tr>
                    {% for element in item %}
                        {% if 'get_hdfs_file' in element %}
                            <td class="hdfs_actions">
                                {% include 'functions/form.html' with form_id="get-hdfs-file-"|add:element.get_hdfs_file.origin_path.initial button_name="Download" form_title="Download HDFS File or Directory" form=element.get_hdfs_file icon="fa fa-cloud-download" %}
                            </td>
                        {% elif 'del_hdfs_file' in element %}
                            <td class="hdfs_actions">
                                {% include 'functions/form.html' with form_id="del-hdfs-file-"|add:element.del_hdfs_file.dest_path.initial button_name="Delete" form_title="Delete HDFS File or Directory" form=element.del_hdfs_file icon="fa fa-trash" %}
                            </td>
                        {% else %}
                            {% autoescape off %}
                                <td class="hdfs_data">{{ element }}</td>
                            {% endautoescape %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>

<HR>

{% endblock %}
