## Installation path variables
installation_path: "{{ lookup('env', 'HOME') }}/ServerlessYARN_install"
bdwatchdog_path: "{{ installation_path }}/BDWatchdog"
bdwatchdog_source_path: "{{ installation_path }}/BDWatchdog_source"
serverless_containers_path: "{{ installation_path }}/ServerlessContainers"
apptainer_repo_path: "{{ installation_path }}/apptainer"
lxd_key_path: "{{ serverless_containers_path }}"
tmpdir: "{{ installation_path }}/tmpdir"

# SmartWatts
mongodb_path: "{{ installation_path }}/mongodb"
mongodb_data_path: "{{ installation_path }}/mongodb/data"
hwpc_sensor_path: "{{ installation_path }}/hwpc_sensor"
hwpc_sensor_reporting_path : /tmp/powerapi-sensor-reporting
smartwatts_path: "{{ installation_path }}/smartwatts"
containers_pid_mapping_file: "{{ installation_path }}/containers-pid.map"

# WattWizard
host_timestamps_dir: "{{ serverless_containers_path }}/conf/WattWizard/host"
container_timestamps_dir: "{{ serverless_containers_path }}/conf/WattWizard/container"

## Global HDFS
global_hdfs_data_dir: /vagrant/ansible/provisioning/hdfs_data
hdfs_frontend_container_name: hdfs-frontend

## Container bind directories variables
default_bind_path: "{{ installation_path }}"
bind_path: "{{ default_bind_path }}"
bind_dir_name: singularity_binds
bind_dir: "{{ bind_path }}/{{ bind_dir_name }}"
bind_dir_on_container: /opt/bind

## Framework versions
hadoop_version: 3.3.6
spark_version: 3.4.3

## Other
couchdb_path: "{{ installation_path }}/couchdb"
opentsdb_log_path: "{{ bdwatchdog_path }}/opentsdb/log"
web_interface_path: services/serverless_containers_web
singularity_cgroups_group: singularity
