<!-- Requests status -->
{% if requests %}
    {% if requests.errors %}
        {% for error in requests.errors %}
            <div class="alert">
                <span class="closebtn">&times;</span>
                <strong>Error!</strong> {{ error.message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if requests.successes %}
        {% for success in requests.successes %}
            <div class="alert success">
                <span class="closebtn">&times;</span>
                <strong>Success!</strong> {{ success.message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if requests.info %}
        {% for info in requests.info %}
            <div class="alert info">
                <form action="{% url 'remove_alert' info.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">  <!-- to return to the same page the button was triggered -->
                    <button class="closebtn" type="submit" name="remove_alert">&times;</button>
                </form>
                <strong>Info!</strong> {{ info.message }}
            </div>
        {% endfor %}
    {% endif %}
{% endif %}

<!-- Unstable configuration alerts -->
{% if config_errors %}
    {% for error in config_errors %}
        <div class="alert warning">
            <span class="closebtn">&times;</span>
            <strong>Warning!</strong> {{ error }}
        </div>
    {% endfor %}
{% endif %}