<button class="accordion">{{ cont.name }}</button>
<div class="panel">
    <p></p>
    <!-- Guard state -->
    <table class="data_table">
        <tr>
            {% include 'functions/switch.html' with switch_url=guard_switch|add:'_guard_switch' item_name=cont.name switch_name="guard_switch" switch_prefix="guard" cell_name="Guard" state=cont.guard on_state_label="Unguard" off_state_label="Guard" %}
        </tr>
        <tr>
            <td>Guard Policy</td> <td>{{ cont.guard_policy }}</td>
        </tr>
    </table>
    <p></p>

    {% include 'functions/resources.html' with item=cont structure_type="container" %}
    {% include 'functions/limits.html' with item=cont %}

    <a class="button" href="{% url 'structure_detail' cont.name 'structure' %}">Full details</a>
    <p></p>
</div>