{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'containers' %}">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}" class="active">Apps</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'rules' %}">Rules</a>
</div> 

<div class="content">
    
<H4>Apps</H4>

  <!-- Requests errors -->
  {% if requests_errors %}
    {% for error in requests_errors %}
      <div class="alert">
          <span class="closebtn">&times;</span>
          <strong>Error!</strong> {{ error }}
      </div> 
    {% endfor %}
  {% elif requests_success %}
    <div class="alert success">
      <span class="closebtn">&times;</span>
      <strong>Success!</strong> All requests were successful!
    </div>
  {% endif %}

  <ul id="tabs">
    {% for item in data %}
    <li>
    <button class="accordion">{{ item.name }}</button>
	<div class="panel">
		<p></p>
		<table class="data_table">
			<tr><td>Guard Policy</td> <td>{{ item.guard_policy }}</td></tr>
		</table>
		<p></p>
		
    	<button class="accordion">Resources</button>
  		<div class="panel">
  			{% for resource,values in item.resources.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- APP RESOURCES EDIT MODAL -->	
			{% if item.resources_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-resources" title="Edit" class="caja" onclick="hide_buttons('{{ item.name }}');">Edit resources</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.resources_form item.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">
  			{% for resource,values in item.limits.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- APP LIMIT EDIT MODAL	-->
			{% if item.limits_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-limits" title="Edit" class="caja">Edit limits</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit limits of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.limits_form item.limits_form.helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<a class="button" href="{% url 'structure_detail' item.name %}">Full details</a>
	</div>    	
    <HR>
    <HR>
    Containers:
    {% for cont in item.containers_full %}
    <button class="accordion">{{ cont.name }}</button>
	<div class="panel">
		<p></p>
		<table class="data_table">	
			<tr>
				<form action="{% url 'apps_guard_switch' cont.name %}" method="POST"> 
					{% csrf_token %}
					<td>Guard</td> <td>{{ cont.guard }}</td>

					{% if cont.guard == True %} <td><button class="deactivate-btn" type="submit" name="guard_switch" value="guard_off">Unguard</button></td>
					{% else %}                  <td><button class="activate-btn" type="submit" name="guard_switch" value="guard_on">Guard</button></td>
					{% endif %}
				</form>
			</tr>
			<tr><td>Guard Policy</td> <td>{{ cont.guard_policy }}</td></tr>
		</table>
		<p></p>

   		<button class="accordion">Resources</button>
  		<div class="panel">
  			{% for resource,values in cont.resources.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- CONT RESOURCES EDIT MODAL -->	
			{% if cont.resources_editable_data > 0 %}
				<a href="#openModal-{{ cont.name }}-resources" title="Edit" class="caja" onclick="hide_buttons('{{ cont.name }}');">Edit resources</a>
				<br><br>  
				<div align="left" id="openModal-{{ cont.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ cont.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy cont.resources_form cont.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">
  			{% for resource,values in cont.limits.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- CONT LIMIT EDIT MODAL -->	
			{% if cont.limits_editable_data > 0 %}
				<a href="#openModal-{{ cont.name }}-limits" title="Edit" class="caja">Edit limits</a>
				<br><br>  
				<div align="left" id="openModal-{{ cont.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit limits of {{ cont.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy cont.limits_form cont.limits_form.helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
		<a class="button" href="{% url 'structure_detail' cont.name %}">Full details</a>
        <p></p>
	</div>
    {% endfor %}

    </li>    
    {% endfor %}
  </ul>
   
</div>
<HR> 

{% endblock %}
