{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'containers' %}" class="active">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}">Apps</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'rules' %}">Rules</a>
</div> 

<div class="content">
    
<H4>Containers</H4>
  <ul id="tabs">
    {% for item in data %}
    <li>
    <button class="accordion">{{ item.name }}</button>
	<div class="panel">
		<p>
			<form action="{% url 'containers_guard_switch' item.name %}" method="POST"> 
				{% csrf_token %}
				<label>Guard: {{ item.guard }}</label>

				{% if item.guard == True %} <button class="deactivate-btn" type="submit" name="guard_switch" value="guard_off">Unguard</button>
				{% else %}                   <button class="activate-btn" type="submit" name="guard_switch" value="guard_on">Guard</button>
				{% endif %}
			</form>
		</p>

		<p>Guard Policy: {{ item.guard_policy }}</p>
		<p>Host: {{ item.host }}</p>
   		<button class="accordion">Resources</button>
  		<div class="panel">
  			{% for resource,values in item.resources.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- CONT RESOURCES EDIT MODAL -->	
			{% if item.resources_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-resources" title="Edit" class="caja" onclick="hide_buttons('{{ item.name }}');">Edit resources</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-resources" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit resources of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.resources_form item.resources_form_helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<button class="accordion">Limits</button>
  		<div class="panel">
  			{% for resource,values in item.limits.items %}
  		  		<p>{{ resource }}:{{ values }}</p>  
  			{% endfor %}

			<!-- CONT LIMIT EDIT MODAL -->	
			{% if item.limits_editable_data > 0 %}
				<a href="#openModal-{{ item.name }}-limits" title="Edit" class="caja">Edit limits</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}-limits" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit limits of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.limits_form item.limits_form.helper %}
						</p>
					</div>
				</div>
			{% endif %}

  		</div>
  		<a class="button" href="{% url 'structure_detail' item.name %}">Full details</a>
	</div>

    </li>    
    {% endfor %}
  </ul>
   
</div>
<HR> 

{% endblock %}
