{% extends "base.html" %}

{% block page_content %}

<HR>

<div class="content">

	<H1>Serverless Containers Web Interface</H1>
	<HR>
	<H2>Heartbeat Status: </H2>
	{% if data.status == 'alive' %} ALIVE
	{% else %} DEAD
	{% endif %}

  <BR><BR>

  <table>
    <tr><td> <a class=link_button href="{% url 'containers' %}">Containers</a> </td></tr>
    <tr><td> <a class=link_button href="{% url 'hosts' %}">Hosts</a> </td></tr>
    <tr><td> <a class=link_button href="{% url 'apps' %}">Apps</a> </td></tr>
    <tr><td> <a class=link_button href="{% url 'services' %}">Services</a> </td></tr>
    <tr><td> <a class=link_button href="{% url 'rules' %}">Rules</a> </td></tr>
  </table>

</div>

<HR> 

{% endblock %}
