{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'containers' %}">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}">Apps</a>
  <a href="{% url 'services' %}">Services</a>
  <a href="{% url 'rules' %}" class="active">Rules</a>
</div> 

<div class="content">
    
<H4>Rules</H4>

  <!-- Requests errors -->
  {% if requests_errors %}
    {% for error in requests_errors %}
      <div class="alert">
          <span class="closebtn">&times;</span>
          <strong>Error!</strong> {{ error }}
      </div> 
    {% endfor %}
  {% elif requests_success %}
    <div class="alert success">
      <span class="closebtn">&times;</span>
      <strong>Success!</strong> All requests were successful!
    </div>
  {% endif %}

  <!-- Unstable configuration alerts -->
  {% for error in config_errors %}
	<div class="alert warning">
		<span class="closebtn">&times;</span>
		<strong>Warning!</strong> {{ error }}
	</div> 
  {% endfor %}

  <ul id="tabs">
	
    {% for resource in resources %}
    <li>
    <button class="accordion">{{ resource }}</button>
	<div class="panel">
		<p></p>
		{% for type in types %}
		<button class="accordion">
			{% if type == "" %}
				Other
			{% else %}
				Generates {{ type }}
			{% endif %}
		</button>
		<div class="panel">
			<p></p>
			{% for item in data %}
    		{% if item.resource == resource and item.generates == type %}				
    		<button class="accordion">{{ item.name }}</button>
			<div class="panel">
			<table class="data_table">
				<p></p>
				<tr>
					<form action="{% url 'rule_switch' item.name %}" method="POST"> 
						{% csrf_token %}
						<td>Active</td><td>{{ item.active }}</td>

						{% if item.active == True %} <td><button class="deactivate-btn" type="submit" name="rule_switch" value="rule_off">Deactivate</button></td>
						{% else %}                  
							{% if type == "" %} 
								<!-- Rules used by the ReBalancer, NOT the Guardian, should leave it deactivated -->
								<td><button disabled class="activate-btn" type="submit" name="rule_switch" value="rule_on">Activate</button></td>
							{% else %}
								<td><button class="activate-btn" type="submit" name="rule_switch" value="rule_on">Activate</button></td>
							{% endif %}
						{% endif %}
					</form>
				</tr>
				{% if item.action.events %} <tr> <td>Events</td> <td>{{ item.action.events }}</td> </tr> {% endif %}
				{% if item.amount %} <tr> <td>Amount</td> <td>{{ item.amount }}</td> </tr> {% endif %}
				{% if item.events_to_remove %} <tr> <td>Events to remove</td> <td>{{ item.events_to_remove }}</td> </tr> {% endif %}
				{% if item.percentage_reduction %} <tr> <td>Percentage reduction</td> <td>{ item.percentage_reduction }}</td>{ </tr>tr> {% endif %}
				{% if item.rescale_policy %} <tr> <td>Rescale policy</td> <td>{{ item.rescale_policy }}</td> </tr> {% endif %}
				{% if item.rescale_type %} <tr> <td>Rescale type</td> <td>{{ item.rescale_type }}</td> </tr> {% endif %}
				<tr><td>Rule</td> <td>{{ item.rule_readable }}</td> </tr>
			</table>
			<p></p>
			
				<!-- EDIT MODAL-->	
				{% if item.editable_data > 0 %}
					<a href="#openModal-{{ item.name }}" title="Edit" class="caja">Edit information</a>
					<br><br>  
					<div align="left" id="openModal-{{ item.name }}" class="modalDialog">
						<div>
							<a href="#close" title="Close" class="close">X</a>
							<h2>Edit information of {{ item.name }}</h2>
							<p>
								{% load crispy_forms_tags %} {% crispy item.form item.form.helper %}
							</p>
						</div>
					</div>
				{% endif %}
  			</div>
  			{% endif %}
    		{% endfor %}
			<p></p>
		</div>
		{% endfor %}
		<p></p>
	</div>    	
    </li>    
    {% endfor %}
  </ul>
</div>
<HR> 

{% endblock %}
