{% extends "base.html" %}

{% block page_content %}

<HR>

<!-- MENU -->
 <div class="vertical-menu">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'structures' %}">Structures</a>
  <a href="{% url 'containers' %}">Containers</a>
  <a href="{% url 'hosts' %}">Hosts</a>
  <a href="{% url 'apps' %}">Apps</a>
  <a href="{% url 'services' %}" class="active">Services</a>
  <a href="{% url 'rules' %}">Rules</a>
</div> 

<div class="content">
    
<H4>Services</H4>
  <ul id="tabs">
    {% for item in data %}
    <li>
    <button class="accordion">{{ item.name }}</button>
  	Heartbeat: {{ item.heartbeat_human }}
	<div class="panel">
		<HR>
  		<p>Config: </p>
  		{% for config,values in item.config.items %}

        {% if config == "ACTIVE" %}
          <p>

            <form action="{% url 'service_switch' item.name %}" method="POST"> 
              {% csrf_token %}
              <label>ACTIVE: {{ values }} </label>

              {% if values == True %} <button class="deactivate-btn" type="submit" name="service_switch" value="service_off">Deactivate</button>
              {% else %}              <button class="activate-btn" type="submit" name="service_switch" value="service_on">Activate</button>
              {% endif %}
            </form>
          </p>
        {% else %}

          <p> {{ config }}:{{ values }} </p>  

        {% endif %}

  		{% endfor %}

			<!-- EDIT MODAL-->	
			{% if item.editable_data > 0 %}
				<a href="#openModal-{{ item.name }}" title="Edit" class="caja">Edit information</a>
				<br><br>  
				<div align="left" id="openModal-{{ item.name }}" class="modalDialog">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Edit information of {{ item.name }}</h2>
						<p>
							{% load crispy_forms_tags %} {% crispy item.form item.form.helper %}
						</p>
					</div>
				</div>
			{% endif %}

	</div>    	
    </li>
    {% endfor %}
  </ul>
</div>
<HR> 

{% endblock %}
